* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

.bg-strip {
  width: 100vw;
  height: 200px;
  background: whitesmoke;
  position: absolute;
}

.textAreaZoneWrapper {
  display: flex;
  justify-content: center;
}

.topWhiteBar {
  display: flex;
  justify-content: center;
  background: white;
  width: 100vw;
  height: 50px;
  border-bottom: lightgray 1px solid;
}